<div id="proso-toolbar">
    <div id="config-bar-show-button" ng-click="opened = !opened" ng-hide="opened"> proso bar </div>

    <div id="config-bar" ng-cloak ng-show="opened" ng-class="{'maximized' : maximized}">
        <div id="config-bar-header">
            <span id="config-bar-maximize" ng-click="maximized = !maximized">Maximize</span>
            <span id="config-bar-hide" ng-click="opened = !opened">Close</span>
        </div>
        <ul id="config-bar-content">
            <li>
                <span ng-click="addToOverride(propertyToOverride)" class="add-to-override">+</span>
                <input type="text" ng-model="propertyToOverride" id="config-bar-property-name" placeholder="Property Name" />
            </li>
            <li>
                <span ng-click="removeOverridden('user'); overridden.user = null;" class="reset">X</span>
                <input type="number" ng-model="overridden.user" placeholder="User" ng-change="override('user', overridden.user)" />
            </li>
            <li style="display: none">
                <span ng-click="removeOverridden('time'); overridden.time= null;" class="reset">X</span>
                <input type="text" ng-model="overridden.time" placeholder="Time" ng-change="override('time', overridden.time)" />
                <i>{{date | date:'yyyy-MM-dd_HH:mm:ss'}}</i>
            </li>
            <li ng-repeat="(name, value) in getOverridden() track by name">
                <span class="reset" ng-click="removeOverridden(name)">X</span>
                <input type="text" disabled class="property-name" ng-model="name" />
                <input type="text" class="property-value" placeholder="Value" ng-model="value" ng-change="override(name, value)" />
            </li>
            <div class='section' ng-click="openABTesting()">AB Testing <span id="abExperimentName">{{abExperiment.identifier }}</span></div>
            <ul id="config-bar-ab" ng-cloak ng-show="abTestingOpened">
                <li>
                    <ul id="abSetupInfo">
                        <li ng-repeat="setup in abExperiment.setups">
                            <strong class="setup-id">#{{ setup.id }}</strong>
                            <ul>
                                <li ng-repeat="value in setup.values">
                                    <span class="variable-name" title="{{ value.variable.app_name }}.{{ value.variable.name }} ">
                                        {{ value.variable.name.split('.').slice(-1)[0] | limitTo: 12 }}{{ value.variable.name.split('.').slice(-1)[0].length > 12 ? '...' : '' }}
                                    </span>
                                    <span class="variable-value" title="{{ value.value }}">{{ value.value.split('.').slice(-1)[0] | limitTo: 12 }} {{ value.value.split('.').slice(-1)[0].length > 12 ? '...' : '' }}</span>
                                    <span class="comma" ng-if="!$last">,</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <li>
                <div id="abChart"></div>
                <li>
                    <button ng-click="drawABTestingBar()" class="ab-experiment-chart-button">All</button>
                    <button ng-click="drawABTestingBar('number_of_users')" class="ab-experiment-chart-button">Users</button>
                    <button ng-click="drawABTestingBar('number_of_answers')" class="ab-experiment-chart-button">Answers</button>
                    <button ng-click="drawABTestingBar('returning_chance')" class="ab-experiment-chart-button">Return</button>
                    <button ng-click="drawABTestingLearning()" class="ab-experiment-chart-button">Learn</button>
                </li>
            </ul>
            <div class='section' ng-click="flashcardsOpened = !flashcardsOpened">Flashcards</div>
            <ul id="config-bar-flashcards" ng-cloak ng-show="flashcardsOpened">
                <li>
                    <input type="text" ng-model="flashcardsCategories" placeholder="Categories" />
                    <input type="text" ng-model="flashcardsContexts" placeholder="Contexts" />
                    <input type="text" ng-model="flashcardsTypes" placeholder="Types" />
                </li>
                <li>
                    <input type="text" ng-model="flashcardsLimit" placeholder="Limit" />
                    <button ng-click="showFlashcardsPractice()">Show Practice</button>
                    <button ng-click="showFlashcardsAnswers()">Show Answers</button>
                </li>
                <div style="overflow: auto; width: 100%; height: 300px;">
                    <table ng-show="flashcardsAnswers.length > 0" id="flashcardsAnswers">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Item</th>
                                <th>Asked</th>
                                <th>Answered</th>
                                <th>Opt.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="answer in flashcardsAnswers">
                                <td>
                                    <a href="/flashcards/answer/{{ answer.id }}?html" title="{{answer.time | date:'yyyy-MM-dd_HH:mm:ss'}}, direction: {{ answer.direction }}">
                                        {{ answer.id }}
                                    </a>
                                </td>
                                <td>{{ answer.user_id }}</td>
                                <td>{{ answer.item_asked_id }}</td>
                                <td>{{ answer.flashcard_asked.identifier | limitTo:12 }} {{ answer.flashcard_answered.identifier.length > 12 ? '...' : '' }}</td>
                                <td ng-class="{true: 'correct', false: 'wrong'}[answer.item_asked_id == answer.item_answered_id]">
                                    {{ answer.flashcard_answered.identifier | limitTo:12 }}{{ answer.flashcard_answered.identifier.length > 12 ? '...' : '' }}
                                </td>
                                <td class="direction-{{ answer.direction }}">{{ answer.options.length }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="flashcardsChart"></div>
                </div>
            </ul>
            <div class='section' ng-click="auditOpened = !auditOpened">Models Audit</div>
            <ul id="config-bar-audit" ng-cloak ng-show="auditOpened">
                <li>
                    <input type="text" ng-model="auditLimit" placeholder="Limit" />
                    <input type="text" ng-model="auditKey" placeholder="Key" id="config-bar-audit-key" />
                    <input type="text" ng-model="auditUser" placeholder="User" />
                </li>
                <li>
                    <input type="text" ng-model="auditPrimary" placeholder="Item Primary" />
                    <input type="text" ng-model="auditSecondary" placeholder="Item Secondary" />
                    <button ng-click="showAuditChart()">Show Chart</button>
                </li>
                <div id="auditChart"></div>
            </ul>
            <div class='section' ng-click="recommendationOpened = !recommendationOpened">Recommend User</div>
            <ul id="config-bar-recommendation" ng-cloak ng-show="recommendationOpened">
                <li>
                    <input type="text" placeholder="Register Time" disabled/>
                    <input type="text" placeholder="Min" ng-model="recommendationRegisterMin" />
                    <input type="text" placeholder="Max" ng-model="recommendationRegisterMax" />
                </li>
                <li>
                    <input type="text" placeholder="Number of Answers" disabled/>
                    <input type="text" placeholder="Min" ng-model="recommendationAnswersMin" />
                    <input type="text" placeholder="Max" ng-model="recommendationAnswersMax" />
                </li>
                <li>
                    <input type="text" placeholder="Success" disabled/>
                    <input type="text" placeholder="Min" ng-model="recommendationSuccessMin" />
                    <input type="text" placeholder="Max" ng-model="recommendationSuccessMax" />
                </li>
                <li>
                    <input type="text" placeholder="Variable Name" ng-model="recommendationVariableName" />
                    <input type="text" placeholder="Min" ng-model="recommendationVariableMin" />
                    <input type="text" placeholder="Max" ng-model="recommendationVariableMax" />
                </li>
                <li>
                    <input type="text" ng-model="recommendationOutput" disabled />
                    <button ng-click="recommendUser()">Recommend</button>
                </li>
            </ul>
            <div class='section' ng-click="loggingOpened = !loggingOpened">Logging</div>
            <ul id="config-bar-logging" ng-cloak ng-show="loggingOpened">
                <li ng-repeat="event in debugLog|limitTo:100" class="logging-event">
                    <span class="level">{{ event.level }}</span>
                    <span class="url">{{ event.url }}</span>
                    <span class="filename">{{ event.filename }}:{{ event.line_number }}</span>
                    <span class="message">{{ event.message }}</span>
                </li>
            </ul>
        </ul>
    </div>
</div>
