<div class="modal-header text-center">
    <h3 class="modal-title">{{ "How difficult would you like the questions to be?" | translate }}</h3>
    {{ "Your answer helps us adjust difficulty of questions." | translate }}
</div>
<div class="adjustment modal-body">
    <div class=" text-center" ng-hide="answer">
        <a class="btn btn-lg btn-primary" ng-click="vote(20)" translate>
            Much easier
        </a>
        <a class="btn btn-lg btn-info" ng-click="vote(10)" translate>
            Bit easier
        </a>
        <a class="btn btn-lg btn-success" ng-click="vote(0)" translate>
            The same
        </a>
        <a class="btn btn-lg btn-warning" ng-click="vote(-10)" translate>
            Bit harder
        </a>
        <a class="btn btn-lg btn-danger" ng-click="vote(-20)" translate>
            Much harder
        </a>
        <div class="clearfix"></div>
        <a class="pull-right dont-know" href="" ng-click="cancel()">
            {{ "Don't know / Don't want to answer" | translate }}
        </a>
        <div class="clearfix"></div>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-footer" ng-show="answer">
    <button class="btn btn-danger" ng-click="cancel()">
        {{ "Close" | translate }}
    </button>
</div>

