<div class="modal-header text-center">
    <h3 class="modal-title">{{ "How difficult are the questions?" | translate }}</h3>
    {{ "Your answer helps us adjust difficulty of questions." | trans}}
</div>
<div class="rating modal-body">
    <div class=" text-center" ng-hide="answer">
        <a class="btn btn-lg btn-success" ng-click="vote(1)">
            {{"Too easy" | translate }}
        </a>
        <a class="btn btn-lg btn-primary" ng-click="vote(2)">
            {{ "Appropriate" | translate }}
        </a>
        <a class="btn btn-lg btn-danger" ng-click="vote(3)">
            {{ "Too difficult" | translate }}
        </a>
        <div class="clearfix"></div>
        <a class="pull-right dont-know" href="" ng-click="cancel()">
            {{ "Don't know / Don't want to rate" | translate }}
        </a>
        <div class="clearfix"></div>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-footer" ng-show="answer">
    <button class="btn btn-danger" ng-click="cancel()">
        {{ "Close" | translate }}
    </button>
</div>

